services:
  db:
    image: postgres:16
    container_name: projet2a_postgres
    environment:
      POSTGRES_DB: projet2a
      POSTGRES_USER: projet_user
      POSTGRES_PASSWORD: projet_pwd
    ports:
      - "5432:5432"
    volumes:
      - projet2a_pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U projet_user -d projet2a"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  projet2a_pgdata:
